td {
	padding: 0.5em 0.75em;
	font-size: 1.5em;
	font-weight: bold;
	border: solid grey;
}

.game-container {
	display: inline-block;
}

.nplays {
	margin-left: 5.5em;
}

div.found-words {
	margin-left: 10px;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}

#word {
	margin-top: 10px;
}

p.err {
	background-color: tomato;
	color: white;
	padding: 16px;
}

p.ok {
	background-color: mediumseagreen;
	color: white;
	padding: 16px;
}

p.game-over {
	background-color: darkred;
	color: white;
	padding: 16px;
}
